[Desktop Entry]
Comment=CYBINT-Light
Name=CYBINT-Light
X-KDE-PluginInfo-Author=CYBINT Dev Team
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=dev@cybint-linux.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-Name=CYBINT-Light
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://cybint-linux.com
X-KDE-ServiceTypes=Plasma/LookAndFeel
